<header class="{{size}}">
    <navother [aboutActive]="active"></navother>
    <navheader [titulo]="titulo"></navheader>
    <navfoneother [aboutActive]="active"></navfoneother>
</header>
<main role="main" class="flex-shrink-0 mt-3 pb-5">
    <div class="container">
        <div class="card mb-3 col">
            <div class="row no-gutters mx-1 my-2">
                <div class="col-md-4 py-4 d-flex justify-content-center">
                    <img src="https://torttugacrush.github.io/img/img/perfil3.png"
                        alt="mi perfil" class="perfilimg mt-1 rounded float-left rounded-circle border border-dark">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body ml-3  px-0  ">
                        <h1 class="card-title  ht titulos">Pasatiempo</h1>
                        {{ga}}
                        <div class="col">
                            
                            <h5 class="ft"> Mi hobby es programar modelar vídeo juegos</h5>
                           
                            
                            <h5 class="ft">Cuando tengo la oportunidad, Me gusta participar en talleres de bachata y
                                salsa </h5>
                            
                            
                            <h5 class="ft">Me gusta Push Man, las películas de accion y romance</h5>
                            
                            
                            <h5 class="ft">Tambien disfruto aprender por mi cuenta, buscando libros, videotutoriales
                                y recursos que se encuentran en Internet</h5>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<div class="my-5 d-none d-lg-block">

</div>
